<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/uitleen_anker</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">SDLPetra007#</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="databank.TblPersoon"/>
    <mapping class="databank.TblSoort"/>
    <mapping class="databank.TblBeschrijving"/>
    <mapping class="databank.TblInventarisatie"/>
    <mapping class="databank.TblProduct"/>
    <mapping class="databank.TblUitleen"/>
    <mapping class="databank.TblReservatie"/>
  </session-factory>
</hibernate-configuration>
